
body{
    background-color: lightgray;
}
.line {
    margin-bottom: 20px;    
}
.line_radio {
    margin-bottom: 20px;        
    text-align: center;
}
.reg_form{
	width: 400px;
	margin: 0 auto;
}
input[type = 'text'], input[type = 'email'], input[type = 'tel'] {
	width: 100%;
}
h1 {
    color: rgb(10, 10, 10);
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 20px;
    margin-bottom: 10pt;	
    font-size: 15pt;
    text-align: center;
}
.h2 {
    color: rgb(10, 10, 10);
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 40px;
    margin-bottom: 10pt;	
    text-align: center;
}
.button {
    color: rgb(10, 10, 10);
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 20px;
    margin-bottom: 10pt;	
    text-align: center;
}
footer
{
    background-color: rgb(172, 175, 177);
    height: 25px;
    margin-bottom: 0px;
    text-align: center;
}
nav
{
    background-color: rgb(172, 175, 177);
    border-radius: 7px;
}

nav li {
    display: inline-table;
    padding: 15px;    
}
nav a {
    font-size: 15pt;
    text-decoration: underline;
    
}
